fastapi
uvicorn[standard]

sqlalchemy[asyncio]>=2.0
asyncpg
greenlet

pydantic[email]>=2.0
pydantic-settings

python-jose[cryptography]
passlib[bcrypt]

python-multipart

alembic

supabase

httpx