@tailwind base;
@tailwind components;
@tailwind utilities;

/* =========================
   RESET BÁSICO
========================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* =========================
   BODY
========================= */

body {
  min-height: 100vh;
  background-color: #f5f7fb;
  font-family: Inter, sans-serif;
  color: #111827;
}

/* =========================
   ROOT
========================= */

#root {
  width: 100%;
  min-height: 100vh;
}

/* =========================
   SCROLLBAR
========================= */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 9999px;
}

::-webkit-scrollbar-track {
  background: transparent;
}